<nav class="navbar navbar-expand-md sticky-top bg-primary navbar-shrink py-3 navbar-dark" id="mainNav">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span
                class="bs-icon-sm bs-icon-circle bs-icon-white shadow d-flex justify-content-center align-items-center me-2 bs-icon"><svg
                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16"
                    class="bi bi-pc-display">
                    <path
                        d="M8 1a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1zm1 13.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0m2 0a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0M9.5 1a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zM9 3.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1h-5a.5.5 0 0 0-.5.5M1.5 2A1.5 1.5 0 0 0 0 3.5v7A1.5 1.5 0 0 0 1.5 12H6v2h-.5a.5.5 0 0 0 0 1H7v-4H1.5a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5H7V2z">
                    </path>
                </svg></span><span>CyberForgePC</span></a><button data-bs-toggle="collapse" class="navbar-toggler"
            data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="/admin/dashboard.html">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/category-list.html">Categorías</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/coupon-list.html">Cupones</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/product-list.html">Productos</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/stock-list.html">Inventario</a></li>
            </ul><a class="btn btn-light btn-sm shadow" id="menu-logout" role="button">Cerrar sesion</a>
        </div>
    </div>
</nav>